body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer {
    text-align: center;
    margin-bottom: 20px;
}

.timer p {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
}

.timer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.past-entries {
    text-align: center;
}

.past-entries h2{
color: #FFA500;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 16px;
}